<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>

    <mat-nav-list>

      <a mat-list-item [routerLink]="['']" (click)="sidenav.close()">
        <mat-icon>today</mat-icon>
        <span>Tasks</span>
      </a>
      <a mat-list-item [routerLink]="['/people-list']" (click)="sidenav.close()">
        <mat-icon>record_voice_over</mat-icon>
        <span>People</span>
      </a>
      <a mat-list-item [routerLink]="['/location-list']" (click)="sidenav.close()">
        <mat-icon>home</mat-icon>
        <span>Locations</span>
      </a>
      <a mat-list-item [routerLink]="['/reports']" (click)="sidenav.close()">
        <mat-icon>timeline</mat-icon>
        <span>Reports</span>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar>
  <router-outlet></router-outlet>
  <!-- <app-task-detail></app-task-detail> -->
  <!-- <app-task-list></app-task-list> -->

</mat-sidenav-container>

