<br><br>

<mat-card class="dateSection">
  <mat-card-content>{{dateToday | date: 'EEEE, MMM d, y, h:mm a'}}</mat-card-content>
</mat-card>
<br><br>

<div class="example-button-row center">
  <button [routerLink]="['/createtask']" mat-raised-button color="primary">Create Task</button>

</div>

<br>

<mat-tab-group>
  <!-- <mat-tab label="Upcoming"></mat-tab> -->
  <mat-tab label="Incomplete"></mat-tab>
  <mat-tab label="Completed"></mat-tab>
</mat-tab-group>

<br><br><br>

<table matSort>
    <tr class="headers">
      <!-- <th mat-sort-header="search">Search</th> -->
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="whenStart">When to Start</th>
      <th mat-sort-header="whenComplete">When to Complete</th>
      <th mat-sort-header="people">People Assigned</th>
      <th mat-sort-header="completed">Completed</th>
    </tr>
  
    <tr *ngFor="let task of tasks" class="tables">
      
        <td><button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>search</mat-icon>
        </button>{{task.taskName}}</td> 
        <td>{{returnDate(task?.whenToStart)}} at {{returnTime(task?.whenToStart)}}</td> 
        <td>{{returnDate(task?.whenToComplete)}} at {{returnTime(task?.whenToComplete)}}</td> 
        <td>{{task.peopleInvolved.join(', ')}}</td> 
        <td><mat-icon class="{{completedClass(task.completed)}}">{{completedTask(task.completed)}}</mat-icon></td> 
        <td></td>
        <td></td>
    </tr>


  </table>
  

